body {
    background-color: #E5E5E5;
    font-size: 1.5rem;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

nav {
    font-size: 1rem;
}
.task {
    background-color: #D4D0FF;
    margin-top: 1.6rem;
    padding: 10px 20px;
    word-wrap: break-word;
}

.task p {
    font-size: 1.0em;
}

.task p:first-of-type {
    margin-top: 10px;
}

a {
    font-size: 1.5em;
}

img {
    padding: 5px 5px 5px 5px;
}

select.form-control {
    font-size: 1em;
    padding: 3px 3px 3px 3px;
}

.message {
    font-size: 1.3em;
}

.button_left {
    margin-left: 10px;
}

.search_box {
    display: flex;
    justify-content: center;
}
.btn-default{
    background-color: #5B3FC3;
    border: none;
    color: white;
}
.btn-info{
    background-color: #EF9C9C;
    border: none;
    color: white;
    margin-left: 20px;
}
.btn-info:hover{
    background-color: #EF9C9C;
    color: white;
}
.form-inline .form-group{
    margin-left: 30px;
}
input[type="radio"]{
    margin: auto;
}
.pagination > li > a, .pagination > li > span{
    color: black!important;
}

/* изменение цвета навбара при наведении */
ul.nav.navbar-nav  li:hover {
    background-color: #dddddd;
    color: #99defd;
}

ul.nav.navbar-nav  li:hover a{
    color: #567bff;
}

.navbar-header > p{
    margin: 0;
}

.z-depth-0 {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* 2dp elevation modified*/
.z-depth-1, nav, .card-panel, .card, .toast, .btnm, .btnm-large, .btnm-small, .btnm-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.z-depth-1-half, .btnm:hover, .btnm-large:hover, .btnm-small:hover, .btnm-floating:hover {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/* 6dp elevation modified*/
.z-depth-2 {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/* 12dp elevation modified*/
.z-depth-3 {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* 16dp elevation */
.z-depth-4 {
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

/* 24dp elevation */
.z-depth-5, .modal {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.hoverable {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}