body {
    background-color: #E5E5E5;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.error {
    color: #EF9C9C;
}

.message {
    color: #695FE1;
}
nav {
    font-size: 1.1em;
}
.btn-default{
    background-color: #5B3FC3;
    border: none;
    color: white;
}
.btn-info{
    background-color: #EF9C9C;
    border: none;
    color: white;
    margin-left: 20px;
}
.btn-info:hover{
    background-color: #EF9C9C;
    color: white;
}

/* изменение цвета навбара при наведении */
ul.nav.navbar-nav  li:hover {
    background-color: #dddddd;
    color: #695FE1;
}

ul.nav.navbar-nav  li:hover a{
    color: #695FE1;
}

#upload_form {
    font-size: 1.5rem;
}
.preview_task {
    font-size: 1.5rem;
    border-radius: 7px;
    background-color: white;
    margin-top: 2rem;
    padding: 5px 5px 5px 5px;
    word-wrap: break-word;
    display: none;
}

.preview_task p {
    font-size: 1.0em;
    color: #695FE1;
}

.preview_task p:first-of-type {
    margin-top: 10px;
}
.navbar-header > p{
    margin: 0;
}

