<div class="preview_task">
	<div class="row">
		<div class="col-md-8 col-lg-8 align-middle" >
			<p>Имя пользователя: {{ (authorized) ? username : 'Guest' }}</p>
			<p>Электронная почта: %js_replace_email%</p>
			<div id="response"></div>
			<div class="clear"></div>
			<p>Текст задачи: %js_replace_text%</p>
			<p>Статус задачи: Не выполнено</p>
		</div>
	</div>
</div>